.ssiconpicker {

}

.ssiconpickerlist {
    width: 80%;
    max-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    border: 1px solid silver;
    box-shadow: 2px 2px 8px silver;
    background-color: #efefef;
    position: absolute;
}

.ssiconpickerlist > div {
    cursor: pointer;
    /*font-size: 48px;*/
    padding: 5px;
    color: #042e41;
}

.ssiconpickerlist > div.close > input {
    color: black;
    font-size: medium;
    font-weight: normal;
}

.ssiconpickerlist > div.close > input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.ssiconpickerlist > div:hover {
    color: #ffffff;
    background-color: #042e41;
}

.ssiconpickerlist > div.close:hover {
    color: red;
    background-color: lightgrey;
}

.ss-col-red {
    color: red;
}
