{
    "host": "mail.bkcnode.com",
    "port": 587,
    "auth": {
        "user": "admin@bkcnode.com",
        "pass": "Hello123"
    },
    "tls": {"rejectUnauthorized": false},
    "templates": "../views/emailtemplates/"
}
