<!--<script async defer type="text/javascript" src="js/map.js"></script>-->
<!--<script async defer type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key1=YOUR_API_KEY&callback=initMap&libraries=places"></script>-->
<head>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" type="text/javascript"
            charset="utf-8"></script>-->
    <script>
        /*define("DynHighlightRules", [], function(require, exports, module) {
         "use strict";

         var oop = require("ace/lib/oop");
         var TextHighlightRules = require("ace/mode/javascript_highlight_rules").TextHighlightRules;

         var DynHighlightRules = function() {
         this.setKeywords = function(kwMap) {
         this.keywordRule.onMatch = this.createKeywordMapper(kwMap, "identifier")
         }
         this.keywordRule = {
         regex : "\\w+",
         onMatch : function() {return "text"}
         }

         this.$rules = {
         "start" : [
         {
         token: "string",
         start: '"',
         end: '"',
         next: [{ token : "constant.language.escape.lsl", regex : /\\[tn"\\]/}]
         },
         this.keywordRule
         ]
         };
         this.normalizeRules()
         };

         //oop.inherits(DynHighlightRules, TextHighlightRules);

         exports.DynHighlightRules = DynHighlightRules;

         });*/
        /*var editor_;
        setTimeout(function () {
            editor_ = ace.edit("editor");
            editor_.setTheme("ace/theme/solarized_dark");

            editor_.session.setMode("ace/mode/javascript");

            /!*var jsMode = require("ace/mode/javascript").Mode;
             var IOTLMode = new jsMode();
             IOTLMode.HighlightRules = require("DynHighlightRules").DynHighlightRules;

             IOTLMode.$highlightRules.setKeywords({"keywords": "first|items|editor"})

             editor_.session.setMode(IOTLMode);

             var keywords = /syntax|highlighted/g
             editor_.findAll(keywords, {
             //caseSensitive: false,
             //wholeWord: true,
             regExp: true
             });*!/
        }, 1100);*/


        //icon to base64:
        // Check for the File API support.
        var srviconbase64 = '';
        var srviconvalid = true;
        var srviconmessage = 'Please select an image file as service logo';

        if (window.File && window.FileReader && window.FileList && window.Blob) {
            document.getElementById('srviconfile').addEventListener('change', handleFileSelect, false);
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }

        function handleFileSelect(evt) {
            srviconvalid = false;
            var f = evt.target.files[0]; // FileList object
            if(!f.type.startsWith('image')){
                let iconimg = document.getElementById('srviconpreview');
                iconimg.src = defaulticon;
                srviconbase64 = '';
                srviconmessage = 'Bad file type is selected, please select a true image file with extension .PNG or .JPG';
                swal.fire({
                    title: 'Service Icon',
                    text: srviconmessage,
                    //html: true,
                    timer: 3000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                return;
            }
            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    var binaryData = e.target.result;
                    //Converting Binary Data to base 64
                    var base64String = window.btoa(binaryData);
                    //showing file converted to base64
                    srviconbase64 = 'data:image/png;base64,' + base64String;
                    let iconimg = document.getElementById('srviconpreview');
                    $('#srviconpreview').removeClass('img-responsive')
                    iconimg.src = srviconbase64;
                    setTimeout(() => iconFileChanged(iconimg), 200);
                };
            })(f);
            // Read in the image file as a data URL.
            reader.readAsBinaryString(f);
        }

        function iconFileChanged(iconimg) {
            console.log('srviconbase64', iconimg.clientWidth, iconimg.clientHeight);

            $('#iconwidth').text(iconimg.clientWidth);
            $('#iconheight').text(iconimg.clientHeight);

            srviconvalid = true;
            srviconmessage = '';
            /*if(iconimg.clientWidth != iconimg.clientHeight) {
             srviconvalid = false;
             srviconmessage = 'Width and Height of icon must be equal'
             }*/
            if (iconimg.clientWidth > 512 || iconimg.clientHeight > 512) {
                srviconvalid = false;
                srviconmessage = 'Width and Height of icon must be <= 512 px'
            }

            $('#srviconpreview').addClass('img-responsive')

            if (!srviconvalid) {
                swal.fire({
                    title: 'Service Icon',
                    text: srviconmessage,
                    //html: true,
                    //                    timer: 2000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
            }
        }

        /*function compress(e) {
            const width = 500;
            const height = 300;
            const fileName = e.target.files[0].name;
            const reader = new FileReader();
            reader.readAsDataURL(e.target.files[0]);
            reader.onload = event => {
                const img = new Image();
                img.src = event.target.result;
                img.onload = () => {
                    const elem = document.createElement('canvas');
                    elem.width = width;
                    elem.height = height;
                    const ctx = elem.getContext('2d');
                    // img.width and img.height will contain the original dimensions
                    ctx.drawImage(img, 0, 0, width, height);
                    ctx.canvas.toBlob((blob) => {
                        const file = new File([blob], fileName, {
                            type: 'image/jpeg',
                            lastModified: Date.now()
                        });
                    }, 'image/jpeg', 1);
                },
                    reader.onerror = error => console.log(error);
            };
        }*/
    </script>
</head>
<script>
    function createIAService() {
        var nsrv = {};
        var isvalid = true;
        var validatemessage = '';
        var messagetitle = '';

        if (!document.querySelector('#name').checkValidity()) {
            isvalid = false;
            validatemessage = document.querySelector('#name').validationMessage;
            messagetitle = "Service Name";
        } else if (!document.querySelector('[name="Description"]').checkValidity()) {
            isvalid = false;
            validatemessage = document.querySelector('[name="Description"]').validationMessage;
            messagetitle = "Description";
        }

        if (!isvalid) {
            swal.fire({
                title: messagetitle,
                text: validatemessage,
                //html: true,
                //                    timer: 2000,
                //icon: "warning",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
            return;
        }

        if (!srviconvalid) {
            swal.fire({
                title: 'Service Icon',
                text: srviconmessage,
                //html: true,
                //                    timer: 2000,
                //icon: "warning",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
            return;
        }

        nsrv.Name = $('#name').val();
        nsrv.Description = $('#description').val();

        nsrv.Cron = false;
        nsrv.Copyright = document.querySelector('#copyright').value;
        nsrv.Category = document.querySelector('#category').value;

        //VendorId
        if(panelmode==='VENDORPANEL' && vendor){
            nsrv.VendorId = vendor._id;
        }


        /*nsrv.Vars = newservice.Vars;
        nsrv.Devices = newservice.Devices;
        nsrv.Buttons = newservice.Buttons;
        nsrv.Code = editor_.getValue();
        nsrv.NeedAccesses = Array.from(document.querySelectorAll('input[name="srvaccess"][type="checkbox"]'))
            .filter((checkbox) => checkbox.checked)
            .map((checkbox) => checkbox.value);*/
        nsrv.Icon = srviconbase64;
        nsrv.Iconpadding = false;

        /*nsrv.Price = {
            Add: $('#priceadd').val(),
            Run: $('#pricerun').val()
        }*/


        console.log('new service', nsrv)

        $.post('/iaservice', nsrv, function (addedservice) {
            swal.fire({title:"Success", html:"New BKC Service Created!", icon:"success"}).then((value) => {
                show_sspage("../developer/views/iaservice.developer.page.view.html")
            });
        }).fail(function (response) {
            swal.fire("Error", response.responseJSON.message, "error");
        });
    }
</script>
<style type="text/css" media="screen">
    #editor {
        /*position: absolute;*/
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 200px;
        font-size: inherit;
    }

    .servicesection {
        outline: 3px solid #d42021;
    }

    .service.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: transparent !important;
    }

    .bg-black {
        background-color: #282828 !important;
    }
</style>
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->
<!--uses ssbind and sspage tags-->
<div class="card  m-t--30 m-r--15 m-l--15 m-b-0" style="height: calc(100vh - 70px)">
    <div class="header m-b--10">
        <span align="" class="ia-medium-title ">New BKC Service (Coding Console)
        </span>

        <ul class="header-dropdown ">
            <!--<a href="#srvpublish" data-toggle="tab" aria-expanded="true" class="btn col-green btn-link srvpublish">Publish</a>-->
            <!--<li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a>
                    </li>
                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else
                        here</a></li>
                </ul>
            </li>-->
        </ul>
    </div>
    <div class="body ">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tab-col-red service" role="tablist">
            <li role="presentation" class="active">
                <a href="#srvmain" data-toggle="tab" aria-expanded="true">
                    <i class="mdi mdi-home font-20"></i> PROFILE
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content ">
            <div role="tabpanel" class="tab-pane fade active in" id="srvmain">
                <!--<b class="ia-big-title">Main Information of IA Service</b>-->
                <div class="row">
                    <div class="col-sm-4">
                        <!--<label for="name"><span class=" ia-big-title col-red">Name of Service</span></label>-->
                        <label class="form-label" for="name">Service Name</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" name="Name" id="name" placeholder="An alphanumeric name" class="form-control" required onchange="this.value=this.value.trim()">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 hidden">
                        <label class="form-label" for="copyright">Copyright</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="hidden" id="copyright" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label" for="category">Category</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <select class="form-control"
                                        id="category">
                                    <option ssfor="ServiceCategories"
                                            ssbind="text:ServiceCategories[ssIndex]; value:ServiceCategories[ssIndex]"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label" for="description">Description</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                            <textarea type="text" name="Description" id="description"
                                                      class="form-control" placeholder="Describe your service here ..."
                                                       rows="3"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <label for="srviconfile">Logo</label><br>
                        <small class="col-grey">Add an Icon or Logo for your service</small>
                        <div class="form-group form-float">
                            <div class="service">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg" id="srviconfile" class="form-control"
                                       required style="background-color: transparent;">
                            </div>
                        </div>
                        <small class="col-grey">Your file must be .JPG or .PNG format,<br>Recommended size is 512x512 pixels.
                        </small>
                    </div>
                    <div class="col-sm-2 service">

                        <label for="srviconfile" class=""><img id="srviconpreview" class="img-responsive b-1"
                                                               ssbind="src:defaulticon"></label>
                        <div class="text-center hidden"><span id="iconwidth">512</span> X <span id="iconheight">512</span>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="text-right botton-pan">
            <button class="btn btn-link col-red waves-effect-x2  align-right ia-big-title"
                    sspage="../developer/views/iaservice.developer.page.view.html">
                Cancel
            </button>
            <button class="btn btn-primary-ia waves-effect-x2 align-right ia-big-title"
                    onclick="createIAService()">
                Add Service
            </button>
        </div>

    </div>
</div>

<script>
    var newservice = {
        Devices: [],
        Vars: [],
        Buttons: []
    };

    ssbindRender();

    function initPage() {
        console.log('inintpage======================')
        newservice = {
            Devices: [],
            Vars: [],
            Buttons: []
        }
        if(typeof oldservice !=='undefined'){
            Object.assign(newservice, oldservice)
        }
        if(!newservice.Devices) newservice.Devices = [];
        if(!newservice.Vars) newservice.Vars = [];
        if(!newservice.Buttons) newservice.Buttons = [];


        ssbindRender();

 /*       $("#addDevice").click(() => {
            let name = $('#newdevicename').val().trim();
            if (name === '') {
                swal.fire({
                    title: 'New Device Indicator',
                    text: 'Please set a name for new device indicator!',
                    //html: true,
                    //                    timer: 2000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                return;
            }
            if (newservice.Devices.some(v => v.Name === name) || newservice.Vars.some(v => v.Name === name)) {
                swal.fire({
                    title: 'New Device Indicator',
                    text: 'New device indicator is duplicated!',
                    //html: true,
                    //                    timer: 2000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                return;
            }
            newservice.Devices.push({'Name': name, 'DeviceType': $('#newdevicetype').val(), Invoker:document.querySelector('#newdeviceinvoker').checked});
            $('#newdevicename').val('');
            document.querySelector('#newdeviceinvoker').checked = false;
            ssbindRenderLevel('srvdevices');
        });

        $("#addVar").click(() => {
            let name = $('#newvarname').val().trim();
            if (name === '') {
                swal.fire({
                    title: 'New Variable',
                    text: 'Please set a name for new variable!',
                    //html: true,
                    //                    timer: 2000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                return;
            }
            if (newservice.Devices.some(v => v.Name === name) || newservice.Vars.some(v => v.Name === name)) {
                swal.fire({
                    title: 'New Variable',
                    text: 'New variable name is duplicated!',
                    //html: true,
                    //                    timer: 2000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                return;
            }
            newservice.Vars.push({'Name': name, 'Type': $('#newvartype').val()});
            $('#newvarname').val('')
            ssbindRenderLevel('srvvars');
        });

        $("#addButton").click(() => {
            let title = $('#newbuttontitle').val().trim();
            let funx = $('#newbuttonfunction').val().trim();
            /!*if(name==='') {
             swal.fire({
             title: 'New Variable',
             text: 'Please set a name for new variable!',
             //html: true,
             //                    timer: 2000,
             icon: "warning",
             showConfirmButton: true
             });
             return;
             }*!/
            if (newservice.Buttons.some(v => v.Title === title)) {
                swal.fire({
                    title: 'New Tap command',
                    text: 'New Tap title is duplicated',
                    //html: true,
                    //                    timer: 2000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                return;
            }
            if (newservice.Buttons.some(v => v.Function === funx)) {
                swal.fire({
                    title: 'New Tap command',
                    text: 'New Tap function name is duplicated',
                    //html: true,
                    //                    timer: 2000,
                    //icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                return;
            }
            newservice.Buttons.push({'Title': title, 'Function': $('#newbuttonfunction').val()});
            $('#newbuttontitle').val('');
            $('#newbuttonfunction').val('');
            ssbindRenderLevel('srvbuttons');
        });*/

        ssbindRenderLevel('srvbuttons');
        ssbindRenderLevel('srvpublishes');
    }
</script>