<style type="text/css">
    .bg-silver {
        background-color: #ebebeb;
        height: 10pc;
        padding-top: 1pc;
    }

    .bg-silver img {
        height: 60%;
    }

    .topbar > div {
        padding-right: 5px;
        padding-left: 5px;

    }

    .questionlist {
        border-top: 1px solid grey;
    }
    .questionlist a {
        margin-top: .3pc;
        margin-bottom: .3pc;
        display: block;
        color: #4c4c4c;

    }

    .accordion span {
        float: left;
        font-size: x-large;
        margin-top: -6px;
        /*font-xweight: bold;*/
    }

    /*.accordion {
        background-color: #efefef;
    }

    .accordion.collapsed {
        background-color: white;
    }*/

    .accordion span, .accordion div {
        color: #d42021;
    }

    .accordion.collapsed div {
        color: inherit;
    }
    .accordion.collapsed span {
        transform: rotate(-90deg);
        color: inherit;
    }

    .correspondence-list {
        padding-left: 24%;
    }

    /*.correspondence-list > div {
        !* border: 2px solid; *!
        width: 70%;
        margin-left: 24%;
    }*/

    .correspondence-list div.user-text{
        padding: .5pc;
        margin: .3pc;
        font-weight: normal;
        color: #6e6b5e;
        background-color: #f9f9f9;
    }

    .row div {
        margin-bottom: 0 !important;
        /*padding-bottom: 0 !important;*/
        /*background-color: red;*/
    }

    .correspondence-list div.user-text .supportteam{
        display: none;
    }

    .correspondence-list div.ia-text {
        border-left : 4px solid #d42021;
        margin: .3pc;
        padding: .5pc;
        padding-left: 1pc;
        background-color: #ebebeb;
        font-weight: normal;
        color: #4c4c4c;
    }

    .correspondence-list div.date {
        float: right;
        right: 0;
        font-weight: normal;
        color: #999580;
        /*margin-top: -1pc;*/
        font-size: small;
    }

    .correspondence-list textarea, .correspondence-list input {
        border-width: 1px;
        outline-style: none;
        padding: 10px !important;
        text-indent: 0 !important;
        width: 100%;
        border-radius: 0;
        font-weight: normal;
    }

    .correspondence-list div.Text {
        max-width: 80%;
    }

    .Status[Status="In Progress"]{
        color: #25b9bc !important;
    }
    .Status[Status="Pending"]{
        color: orangered !important;
    }
    .Status[Status="Closed"]{
        color: silver !important;
    }
    .Status[Status="Open"]{
        color: #25b9bc !important;
    }
    .Status[Status="Replied"]{
        color: green !important;
    }
</style>
<script>
    var showticketid = null;

    function hexToBase64(str) {
        return btoa(String.fromCharCode.apply(null,
            str.replace(/\r|\n/g, "").replace(/([\da-fA-F]{2}) ?/g, "0x$1 ").replace(/ +$/, "").split(" "))
        );
    }

    function afterloadrsrvs() {
        rsrvs.map(asrv=>{
            asrv.Release = asrv.Publish.Releases.find(release=>release.Version===parseInt(asrv.Publish.SubmittedVersion));
        });
        ssbindRenderLevel('rsrvs');
        ssbindRenderLevel('Correspondencelevel',true);
        if(showticketid)
            $('a[href^="#'+showticketid+'"]').click();
    }

    
    function setSurvey(serviceId, releaseId, newstatus) {
        if(confirm("Do you want to change status to "+newstatus+"?")) {
            $.ajax({
                url: '/iaservice/release/' + serviceId+'/'+releaseId,
                data: {SurveyResult: newstatus},
                type: 'PUT',
                success: function (result) {
                    window.parent.swal.fire("BKC Service Release", "Selected release updated successfully","success");
                    load_sspage($('#loadtag'));
                }
            });
        }
    }

    function addTicket(release) {
        var tick = {};

        tick.Status = 'Pending';
        tick.Title = 'Service '+release.Snapshot.Name+'/release '+release.Version;
        tick.SubjectId = release._id;
        tick.CustomerId = release.ReleaseUserId;//todo add security
        tick.Text = $('textarea[ticketid="'+release._id+'"]').val();

        if(tick.Text === ''){
            swal.fire({
                title: "Warning",
                html: 'Please type your message',
//                    timer: 2000,
//                icon: "warning",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
            return;
        }


        $.post('/iaticket', tick, function (response) {
//            swal.fire("Ticket added", "OK! Your device is installed successfully.", "success", {closeOnClickOutside: false});
            //updateDevices(()=>{show_sspage("/customer/views/iadevice.customer.list.view.html","subscribedevices()")});
            load_sspage($('#loadtag'));
//            newform.reset();
            if(response.newId)
                showticketid = response.newId;
        }).fail(function (response) {
            /*
             swal.fire("Error", response.responseJSON ? response.responseJSON.message : response.responseText, "", {closeOnClickOutside: false, //html: true,imageUrl: "images/error.png",
             imageWidth: 50});
             */
            swal.fire({
                title: "Error",
                html: '<div class="align-left">'+response.responseJSON ? response.responseJSON.message : response.responseText +"</div>" ,
//                    timer: 2000,
//                icon: "error",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
        });
    }
</script>
<div class="">
    <section class="card"><!--centerpan col-lg-9 col-md-10 col-sm-10 col-xs-9-->
        <div class="header">
            <span class="ia-head">
                <!--<span class="icon2 device-icon"></span>-->
                <span class="">Service Releases</span>
            </span>
            <span class="header-dropdown " style="top: 20px">
                <button class="btn-link ia-medium-title" sspage="/admin/views/iaservice.admin.review.list.view.html">Refresh</button>
                    <!--<i class="mdi mdi-magnify m-r&#45;&#45;25" style="font-size: 17px"></i>
                    <input id="filter_name" placeholder="Search" type="search"
                           style="background-color: transparent; text-indent: 1.6pc; border: 1px solid silver">-->
        </span>
        </div>
        <div class="body">
            <div class="panel-group" id="accordion">

                <!--header-->
                <div class="panel panel-default1 b-b-1 col-grey">
                    <div class="panel-heading m-l--15">
                        <h4 class="panel-title p-l-0 p-r-0">
                            <a data-toggle="" data-parent=""  class=" ">
                                <div class="row">
                                    <div class="col-sm-1 font-13 "><span class="mdi mdi-play col-white"></span></div>
                                    <div class="col-sm-5 font-13 col-grey">Service</div>
                                    <div class="col-sm-2 font-13 col-grey">Version</div>
                                    <div class="col-sm-2 font-13 col-grey align-center">Submit time</div>
                                    <div class="col-sm-2 font-13 col-grey align-right">Review</div>
                                </div>
                            </a>
                        </h4>
                    </div>
                </div>

                <tag id="loadtag" sspage-load-json="/iaservice/admin" sspage-load-json-var="rsrvs" sspage-load-after="afterloadrsrvs()"></tag>
                <!--rsrvs list-->
                <div class="panel panel-default1" ssfor="rsrvs" sslevel="rsrvs">
                    <div class="panel-heading m-l--15">
                        <h4 class="panel-title p-l-0 p-r-0 ">
                            <a data-toggle="collapse" data-parent="#accordion" class="accordion collapsed btn-link waves-effectXX" ssbind="href:'#'+rsrvs[ssIndex]._id" sslevel="rsrvs">

                                <div class="row">
                                    <div class="col-sm-1 font-13 col-grey">
                                        <span class="mdi mdi-chevron-down"></span>
                                    </div>
                                    <div class="col-sm-5 font-13 col-grey" ssbind="text:rsrvs[ssIndex].Release.Snapshot.Name" sslevel="rsrvs"></div>
                                    <div class="col-sm-2 font-13 font-bold" ssbind="text:rsrvs[ssIndex].Publish.SubmittedVersion" sslevel="rsrvs"></div>
                                    <div class="col-sm-2 font-13 col-grey align-right" ssbind="text:moment(rsrvs[ssIndex].Release.SubmitTime||rsrvs[ssIndex].Release.ReleaseTime).fromNow();title:rsrvs[ssIndex].updatedAt" sslevel="rsrvs"></div>
                                    <div class="col-sm-2 font-13 font-bold align-right" ssbind="text:rsrvs[ssIndex].Release.SurveyResult" sslevel="rsrvs"></div>
                                </div>
                            </a>
                        </h4>
                    </div>

                    <div class="panel-collapse collapse" ssbind="id:rsrvs[ssIndex]._id" sslevel="rsrvs">
                        <div class="panel-bodyXX ">
                            <div class="   correspondence-listxxx">
                                <!--<div ssfor="rsrvs[ssIndex].Correspondence with cccc " sslevel="Correspondencelevel">
                                    <div sslevel="Correspondencelevel"
                                         ssbind="class:rsrvs[ssIndex].Correspondence[cccc].Sender=='U'?'user-text':'ia-text'" >
                                        <b class="supportteam" ssbind="text:rsrvs[ssIndex].Correspondence[cccc].Sender" sslevel="Correspondencelevel">IA Support Team</b>

                                        <div sslevel="Correspondencelevel" class="date"
                                             ssbind="text:moment(rsrvs[ssIndex].Correspondence[cccc].sentAt).fromNow()" ></div>
                                        <div sslevel="Correspondencelevel" class="Text"
                                             ssbind="text:rsrvs[ssIndex].Correspondence[cccc].Text"></div>
                                    </div>
                                </div>-->
                                <div class="p-r-5 p-l-5 p-t-20">
                                    Mode: <span class=" font-15 col-red" ssbind="text:rsrvs[ssIndex].Release.Snapshot.RapidMode?'Block':'Code'" sslevel="rsrvs"></span>
                                    <br>Devices: <br><code class=" font-15 col-red" ssbind="v:rsrvs[ssIndex].Release.Snapshot.Devices.map(d=>delete d._id);html:JSON.stringify(rsrvs[ssIndex].Release.Snapshot.Devices)" sslevel="rsrvs"></code>
                                    <br>Vars: <code class=" font-15 col-red" ssbind="text:rsrvs[ssIndex].Release.Snapshot.Vars" sslevel="rsrvs"></code>
                                    <br>Buttons: <span class=" font-15 col-red" ssbind="text:JSON.stringify(rsrvs[ssIndex].Release.Snapshot.Buttons)" sslevel="rsrvs"></span>
                                    <br>
                                    Code:
                                    <pre class="  " ssbind="html:rsrvs[ssIndex].Release.Snapshot.Code" sslevel="rsrvs"></pre>
                                </div>
                                <div class="text-right p-r-5 p-l-5 p-t-20">
                                    <span>Set <i>Status</i> to</span>
                                    <button class="btn btn-primary-ia ia-big-title m-b-25 waves-effectXXXX col-blue" onclick="setSurvey(rsrvs[ssIndex]._id, rsrvs[ssIndex].Release._id, 'Checking')">Checking</button>
                                    <button class="btn btn-primary-ia ia-big-title m-b-25 waves-effectXXXX col-cyan" onclick="setSurvey(rsrvs[ssIndex]._id, rsrvs[ssIndex].Release._id, 'Rejected')">Reject</button>
                                    <button class="btn btn-primary-ia ia-big-title m-b-25 waves-effectXXXX col-silver" onclick="setSurvey(rsrvs[ssIndex]._id, rsrvs[ssIndex].Release._id, 'Pending')">Pend</button>
                                    <button class="btn btn-primary-ia ia-big-title m-b-25 waves-effectXXXX col-green" onclick="setSurvey(rsrvs[ssIndex]._id, rsrvs[ssIndex].Release._id, 'Published')">Publish</button>
                                    <br>
                                    <textarea class="text-left" placeholder="Type your message here ..." maxlength="1000" rows="6" ssbind="ticketid:rsrvs[ssIndex].Release._id" sslevel="rsrvs"></textarea>
                                    <button class="btn btn-primary-ia ia-big-title m-b-25 waves-effectXXXX" onclick="addTicket(rsrvs[ssIndex].Release)">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>