<script>
    function saveIACustomer() {
        var isvalid = true;
        var validatemessage = '';
        var messagetitle = '';

        if(!document.querySelector('#firstname').checkValidity()){
            isvalid = false;
            validatemessage = document.querySelector('#firstname').validationMessage;
            messagetitle = "First Name";
        } else if(!document.querySelector('#lastname').checkValidity()){
            isvalid = false;
            validatemessage = document.querySelector('#lastname').validationMessage;
            messagetitle = "Last Name";
        } else if(!document.querySelector('#email').checkValidity()){
            isvalid = false;
            validatemessage = document.querySelector('#email').validationMessage;
            messagetitle = "Email";
        } else if(!document.querySelector('#mobile').checkValidity()){
            isvalid = false;
            validatemessage = document.querySelector('#mobile').validationMessage;
            messagetitle = "Mobile No.";
        }

        if (!isvalid) {
            swal.fire({
                title: messagetitle,
                text: validatemessage,
                //html: true,
                //                    timer: 2000,
                //icon: "warning",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
            return;
        }

        /*$.ajax('/iahome', $('#customerform').serialize(), function (addedhome) {
            swal.fire("Success", "", "success", {
                button: "Sign out",
                content: document.getElementById('successid')
            }).then((value) => {
                window.location = '/customer/logout'
            });
            var homes = [addedhome];
            $('#content').load("../customer/views/iahome.customer.view.html", function () {
                window.homes = homes;
                ssbindRenderThis('homes')
            })
        }).fail(function (response) {
            swal.fire("Error", response.responseJSON.message, "error");
        });*/


        $.ajax({
            url: '/iacustomer/'+home.customerId,
            data: $('#customerform').serialize(),
//            async: !1,
            type: "put",
            dataType: "json",
            success: function(response) {
                swal.fire({
                    title: "Success",
                    text: "Your profile changed",
                    //html: true,
                    //                    timer: 2000,
                    icon: "success",
                });
                show_sspage("../customer/views/iahome.customer.view.html")
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.error(xhr, ajaxOptions, thrownError);
                JL().fatal(thrownError + " - " + ajaxOptions);
            }
        }).fail(function (response) {
            swal.fire("Error", response.responseJSON.message, "error");
        });
    }
</script>
<style type="text/css">
    #map {
        height: 50vh;
    }

    #description {
        font-family: "Myriad Web Pro";
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: "Myriad Web Pro";
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

    .pac-controls label {
        font-family: "Myriad Web Pro";
        font-size: 13px;
        font-weight: 300;
    }

    #pac-input {
        background-color: #fff;
        font-family: "Myriad Web Pro";
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 90%;
    }

    #pac-input:focus {
        border-color: #4d90fe;
    }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }

</style>
<!--<div class="collapse hidden">
    <div id="successid">"Congrats! Your Cloud Smart Home is built.
        <div class='alert bg-deep-orange'>You will receive an email from marketing@internetanywhere.io when your IoT
            devices is shipped. Please note our company never calls you and asks your information over the phone.
        </div>
        <br> Please sign out and login again"
    </div>
</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header collapse">


                    <!--<h2>
                        <i class="material-icons">home</i>
                        Build Your Smart Home
                        &lt;!&ndash;<small>Specify exact data of new home please!</small>&ndash;&gt;
                    </h2>-->
                    <!--<ul class="header-dropdown m-r&#45;&#45;5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a>
                                </li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else
                                    here</a></li>
                            </ul>
                        </li>
                    </ul>-->
                </div>
                <div class="body">
                    <div class="row">
                        <form id="customerform" onsubmit="return false">
                            <div class="col-sm-6">
                                <label for="firstname"><span class=" ia-big-title col-red">First Name</span></label>
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        <input type="text" name="FirstName" id="firstname" placeholder="First Name" class="form-control" required ssbind="value:JSON.parse($.cookie('customerb')).FirstName">
                                        <!--<label class="form-label">First Name</label>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="lastname"><span class=" ia-big-title col-red">Last Name</span></label>
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        <input type="text" name="LastName" id="lastname" placeholder="Last Name" class="form-control" required ssbind="value:JSON.parse($.cookie('customerb')).LastName">
                                        <!--<label class="form-label">Last Name</label>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="email"><span class=" ia-big-title col-red">Email</span></label>
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        <input type="text" name="Email" id="email" placeholder="Email" class="form-control" readonly disabled ssbind="value:JSON.parse($.cookie('customerb')).Email">
                                        <label class="form-label">Readonly</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="mobile"><span class=" ia-big-title col-red">Mobile Number</span></label>
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        <input type="text" name="Mobile" id="mobile" placeholder1="Mobile No." class="form-control" required ssbind="value:JSON.parse($.cookie('customerb')).Mobile">
                                        <label class="form-label">To receive text messages (Optional)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="developertitle"><span class=" ia-big-title col-red">Developer Alias</span></label>
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        <input type="text" name="DeveloperTitle" id="developertitle" class="form-control" required ssbind="value: JSON.parse($.cookie('customerb')).developer!= null ? JSON.parse($.cookie('customerb')).developer.Title : ''">
                                        <label class="form-label">Your alias as a service developer</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="binancewalletaddr"><span class=" ia-big-title col-red">Your Wallet Address</span></label>
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        <input type="text" name="OutWalletAddr" id="binancewalletaddr" class="form-control" ssbind="value:JSON.parse($.cookie('customerb')).OutWalletAddr || ''" >
                                        <label class="form-label">Type your Binance wallet address to receive your BKC Tokens</label>
                                    </div>
                                </div>
                            </div>

                        </form>
<!--
                        <span class="body col-blue-x22 ">Locate your home on map (Optional)</span>
                        <input id="pac-input" class="controls" type="text" placeholder="Search ...">
                        <div class="col-sm-12 col-md-12" id="map"></div>-->
                    </div>
                    <input name="IsActive" value="true" type="hidden">
                    <!--<input type="checkbox" id="remember_me_2" class="filled-in">-->
                    <!--<label for="remember_me_2">Remember Me</label>-->
                    <!--<br>-->
                    <div class="text-right">
                        <button class="btn btn-link waves-effect-x2 col-red align-right ia-big-title" style="font-weight: bold" sspage="/customer/views/iahome.customer.view.html">
                            Back
                        </button>
                        <button class="btn btn-primary-ia waves-effect-x2 align-right ia-big-title" style="font-weight: bold" onclick="saveIACustomer()">
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

