<!--uses ssbind and sspage tags-->
<style>
    .device {
        height: 8pc;
        background-color: #DDDDDD;
    }

    .device:hover {
        background-color: #cccccc;
    }

    /* HIDE RADIO */
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* IMAGE STYLES */
    label {
        cursor: pointer;
    }

    .content {
        margin-top: .6pc;
    }

    [type=radio] + div {
        /*box-shadow: 0 0 1px 5px #d5dae0;*/
        /*text-shadow: 1px 1px 4px #000000;*/
        -webkit-box-shadow: 2px 2px 5px 0px rgba(94, 92, 96, 0.77);
        -moz-box-shadow: 2px 2px 5px 0px rgba(94, 92, 96, 0.77);
        box-shadow: 2px 2px 5px 0px rgba(94, 92, 96, 0.77);
    }

    [type=radio]:disabled + div {
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
        /*background-color: rgba(0, 0, 0, 0.2) !important;*/
        color: #bbbbbb;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + div {
        box-shadow: 0 0 1px 5px #d42021;
    }
</style>
<script>

    function passeye() {
        if($('#wifipass').attr('type')==='password'){
            $('#wifipass').attr('type', 'text');
            $('#wifipasseye').removeClass('mdi-eye-outline').addClass('mdi-eye-off-outline');
        } else {
            $('#wifipass').attr('type', 'password');
            $('#wifipasseye').removeClass('mdi-eye-off-outline').addClass('mdi-eye-outline');
        }
    }
    var installWizardStep = 1;
    var deviceinstalledsuccessfully = false;

    $('#backbtn').hide();
    $('#nextbtn').hide();

    function nextStep() {

        if(installWizardStep>=6) return;

        installWizardStep++;

        //must be after installWizardStep++;
        if(installWizardStep === 5) {
            c1();
            return false;
        }

        if(installWizardStep === 5) {
            $('#nextbtn').hide();
//            $('#adddevicebtn').show();
        } else {
            $('#nextbtn').show();
//            $('#adddevicebtn').hide();
        }

        $('#backbtn').show();

        if(installWizardStep === 2) {
            $('.turnon').hide();
            $('.turnon.'+$('[name=devicetype]:checked').val()).fadeIn();
        } else if(installWizardStep === 3) {
            if (!devicename.checkValidity()) {
                swal.fire({
                    title: "Warning",
                    text: devicename.validationMessage,
                    html: "<b>Device Name:</b>"+devicename.validationMessage,
//                    timer: 2000,
//                icon: "warning",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
                installWizardStep --;
                return;
            }
        } else if(installWizardStep === 5) {
//            c1();
        }

        $('.step').hide();
        $('.step'+installWizardStep).fadeIn();
    }

    function preStep() {
        if(installWizardStep<=1) return;
        installWizardStep--;

        if(installWizardStep === 1) {
            $('#backbtn').hide();
            $('#nextbtn').hide();
        } else {
            $('#backbtn').show();
        }

        $('.step').hide();
        $('.step'+installWizardStep).fadeIn();
    }

    var connection = window.navigator.connection    ||
        window.navigator.mozConnection ||
        null;
    if (connection === null) {
        // API not supported :(
    } else {
        connection.onchange = function () {
            console.log('changed!');
        }
    }

    window.addEventListener('offline', function(e) { console.log('offline'); });

    window.addEventListener('online', function(e) { console.log('online'); });

    var w1 = null;
    var w2 = null;

    var timeouts = {timeout1 : 1};

    window.addEventListener('message', event => {
        var p = JSON.parse(event.data);

        if(p.CONNECTED === 'checking'){
            alert('chccj')
        } else if(p.CONNECTED === true){
            clearTimeout(timeouts.timeout3);
            clearTimeout(timeouts.timeout4);
            $('#wifistatus').text('WiFi Connected');
            //if(w1) w1.close();
            if(w2) w2.close();
            w1.location.href = 'http://192.168.100.100/p4';//for reset ESP
            //w1 = window.open("http://192.168.100.100/p4", 'w1', 'toolbar=no,titlebar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=200, top=200,width=200px,height=200px,visible=none, alwaysLowered=on,close=no');
//            w.document.write("<head><title>IA Device Connection</title></head><body style='background-color: #d42021; color: white'>Connecting to IoT Device...</body>");
//            var s = "<html><head><meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'><title>IA Device Connection</title></head><body style='background-color: #d42021; color: white'>4- Restarting device...</body></html>";
//            w1.document.write(s);
            setTimeout(function() { w1.close(); }, 2000);

            swal.fire("Adding device to home", "Please check your phone or laptop is now connected to Internet, otherwise change your WiFi network", "warning", {closeOnClickOutside: false});
            setTimeout(function() { addDevice() }, 15000);

            ////try to addDevice
            //$('#nextbtn').prop('disabled', false);
        } else if(p.CONNECTED === false){
            clearTimeout(timeouts.timeout3);
//            clearTimeout(timeouts.timeout4);
            $('#wifistatus').text('Not connected Test WiFi Again');
            $('#wifistatus').prop('disabled', false);
            if(w1) w1.close();
            if(w2) w2.close();
        }

        if(p.MAC){
            clearTimeout(timeouts.timeout1);
            //set mac address
            $('#devicecode').val(p.MAC);
            $('#wifistatustext').html('A Device by type <i>'+p.DEVICETYPE+'</i> detected with MAC address '+p.MAC);
            //set device type
            if(document.querySelector("input[name=devicetype][value='"+p.DEVICETYPE+"']")==null){
                console.error('Unknown device '+p.DEVICETYPE)
                w1.close();
                return
            }
            document.querySelector("input[name=devicetype][value='"+p.DEVICETYPE+"']").checked=true;
            //list of WiFis
            $('#wifilist').empty();
            var list = $("#wifilist");
            $.each(p.WIFI, function(index, item) {
                list.append(new Option(item, item));
            });
            w1.close();
            $('.step').hide();
            $('.step5').fadeIn();
        }
    });

    function c1() {
        $('#nextbtn').hide();
        $('#backbtn').hide();
        sspageLock();
        if(w1 === null || w1.closed) {//get wifi list and mac address and device type
            timeouts.timeout1 = setTimeout(function () {
                if(w1) {
                    w1.close();
//                    preStep();
                    sspageUnlock();
                    installWizardStep = 4;
                    $('#nextbtn').show();
                    $('#backbtn').show();
                    swal.fire("Not connected to device", "Please sure you are connected to device access point, then click <b>Next</b> button.", "error", {closeOnClickOutside: true});
                }
            },7000);

            w1 = window.open("http://192.168.100.100/p1", 'w1', 'toolbar=no,titlebar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=200, top=200,width=200px,height=200px,visible=none, alwaysLowered=on,close=no');
            var s = "<html><head><meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'><title>Device Connection</title></head><body style='background-color: #d42021; color: white'>1- Connecting to IoT Device...</body><script type='text/javascript'>window.location='http://192.168.100.100/p1'; </"+"script></html>";
            try {
                if(w1)
                    w1.document.write(s);
            }catch (e){
                console.error('EEEEEEEEEEEEEEEE',e)
            }
            /*w1.onerror = function (message, source, lineno, colno, error) {
                alert(message);
                console.error(error)
            };*/



            $('#wifistatus').prop('disabled', false);
            $('#wifistatus').text('Check WiFi');
        }

        /*$.ajax({
            url: "http://192.168.1.1/p1",
            dataType: 'jsonp',  //use jsonp data type in order to perform cross domain ajax
            crossDomain: true,
//            data: data,
            success: function (f) {
                swal.fire({
                    title: f.a,
                    html: 'Please select <b>device type</b>'+f.b})
            },
            error: function (err) {
                console.error(err)
            }
        }).done(function () {
            console.log('done')
        });*/
    }

    function c2() {
        var user = $('#wifilist').val();
        var pass = $('#wifipass').val();

        if(!user || !pass ){
            swal.fire("Warning", "Please choose network and password correctly!", "warning", {closeOnClickOutside: true});
            return;
        }

        $('#wifistatus').prop('disabled', true);
        $('#wifistatus').text('Connecting...');


        if(w1 === null || w1.closed) {//set wifi ssid and password

            timeouts.timeout3 = setTimeout(function () {
                w1.location.href = 'http://192.168.100.100/p3';
                var s = "<html><head><meta http-equiv='refresh' content='30; url=\"http://192.168.100.100/p3\"'><meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'><title>Device Connection</title></head><body style='background-color: #d42021; color: white'>2- Checking connection to WiFi "+$('#wifilist').val()+"...<br></body><script type='text/javascript'>window.location='http://192.168.100.100/p3' </"+"script></html>";
                try {
                    w1.document.write(s);
                }catch (e){
                    console.error('EEEEEEEEEEEEEEEE2',e)
                }
                timeouts.timeout4 = setTimeout(function () {
                    w1.close();
                    swal.fire("Device not connected to WiFi", `<div class="align-left m-l-30 small">There is a problem in connecting to your WiFi.<br>
Please check<br>
- Your WiFi password is corrected.<br>
- Your WiFi router is on and working properly.<br>
- Your device is no far more than 3 meters from the router.<br>
- Nothing is blocked the WiFi waves.</div>`, "warning", {closeOnClickOutside: true});
                    $('#wifistatus').prop('disabled', false);
                    $('#wifistatus').text('Check WiFi');
                },6000);
            },35000);

            var u = 'http://192.168.100.100/p2?user='+user+'&pass='+pass;
            w1 = window.open(u, 'w1', 'toolbar=no,titlebar=no,status=no,menubar=no,scrollbars=no,resizable=no,left=200, top=200,width=200px,height=200px,visible=none, alwaysLowered=on,close=no');


        }


        //w.location.href = 'http://192.168.1.1/p2?user='+$('#wifilist').val()+'&pass='+$('#wifipass').val();
        /*w.focus();
        setTimeout(function () {
            w.location.href = 'http://192.168.100.100/p3';
        }, 4000);*/

    }

    var addDeviceTry = 0;

    function addDevice() {
        $('#adddevicebtn').text('Please wait...').prop( "disabled", true );
        clearTimeout(timeouts.timeout5);
        if (!$('[name=devicetype]:checked').val() || $('[name=devicetype]:checked').val() === 'UNKNOWN') {
            swal.fire({
                title: "Warning",
                html: 'Please select <b>device type</b>',
//                    timer: 2000,
//                icon: "warning",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
            return;
        }
        if (!devicename.checkValidity()) {
            swal.fire({
                title: "Warning",
                text: devicename.validationMessage,
                html: "<b>Device Name:</b>"+devicename.validationMessage,
//                    timer: 2000,
//                icon: "warning",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
            return;
        }
        if (! /^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$/.test(devicecode.value)) {
            swal.fire({
                title: "Warning",
                html: '<b>MAC Address :</b>'+ devicecode.validity.patternMismatch ? 'Please write MAC address like below format\n\n 00:00:00:00:00:00' : devicecode.validationMessage,
//                    timer: 2000,
//                icon: "warning",
                imageUrl: "images/error.png",
                imageWidth: 50,
                showConfirmButton: true
            });
            return;
        }

        //check connected to internet and website
        $.get("/").done(function () {
            //alert("success");
            //        submit new device
            var newDevice = {mac: devicecode.value, name: devicename.value, type: $('[name=devicetype]:checked').val()};
            $.post('/iadevice', newDevice, function (addeddevice) {
                sspageUnlock();
                deviceinstalledsuccessfully = true;
                swal.fire("Device Is Installed", "OK! Your device is installed successfully.", "success", {closeOnClickOutside: false});
                updateDevices(()=>{show_sspage("/customer/views/iadevice.customer.list.view.html","subscribedevices()")});

                /*//TODO remove this part: delete detected macaddress and devicetype from captive portal
                if(localStorage.NewDeviceType && localStorage.NewMacAddress){
                    localStorage.removeItem('NewDeviceType');
                    localStorage.removeItem('NewMacAddress');
                }*/

            }).fail(function (response) {
                if(deviceinstalledsuccessfully) return;
                $('#adddevicebtn').show().text('Finalize').prop( "disabled", false )
                /*
                 swal.fire("Error", response.responseJSON ? response.responseJSON.message : response.responseText, "", {closeOnClickOutside: false, //html: true,imageUrl: "images/error.png",
                 imageWidth: 50});
                 */
                swal.fire({
                    title: "Error",
                    html: '<div class="align-left">'+response.responseJSON ? response.responseJSON.message : response.responseText +"</div>" ,
//                    timer: 2000,
//                icon: "error",
                    imageUrl: "images/error.png",
                    imageWidth: 50,
                    showConfirmButton: true
                });
            });
        }).fail(function () {
            addDeviceTry++;
            if(addDeviceTry>5){
                swal.fire("Connect to Internet", "Please check WiFi network of this mobile or laptop and connect to Internet, then click Finalize button.", "warning", {closeOnClickOutside: true});
                $('#adddevicebtn').show();
                $('#adddevicebtn').text('Finalize').prop( "disabled", false )
            }else {
                //if(addDeviceTry==1)
                    swal.fire("Connect to Internet", "Please connect this phone or laptop to Internet", "warning", {closeOnClickOutside: true});
                timeouts.timeout5 = setTimeout(function () {
                    addDevice();
                },15000)
            }
        });


    }
</script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card" style="min-height: 80vh">
        <div class="header">
            <div class="m-l--40*">
            <i class="icon2 icon-newdevice" style="vertical-align: top"></i>
            &nbsp;&nbsp;<span class="ia-bigger-title col-red">Add Device Wizard</span>
            </div>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" sspage="../customer/views/iadevice.customer.register.view.html"
                               sspage-back="/customer/views/iadevice.customer.list.view.html"
                               sspage-load-after="ssbindRender();checkhashome()">Add Device with MAC</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body step step1">
            <div class="input-group input-group-lg">
                <span class="ia-big-title col-red">1. Choose the Device Type</span>
                <br>
                <span class="col-grey">Please choose the type of your new device you want to install</span>
                <br><br>
                <div class=" row">
                    <!--it is important ssfor="Object.keys(devicetemps) " was different of ssfor="Object.keys(devicetemps) in iadevice.customer.register.view.html"-->
                    <label ssfor="Object.keys(devicetemps) " ssif="!devicetemps[Object.keys(devicetemps)[ssIndex]].vendor"
                           class=" col-sm-2 col-xs-6  hover-zoom-effect">
                        <input type="radio" name="devicetype" onchange="nextStep()"
                               ssbind="value:Object.keys(devicetemps)[ssIndex] ; disabled:!devicetemps[Object.keys(devicetemps)[ssIndex]].active" >
                        <div ssbind="class:'device p-t-10 '+  (devicetemps[Object.keys(devicetemps)[ssIndex]].active ? '':' disabled ')">
                            <!--devicetemps[Object.keys(devicetemps)[ssIndex]].color +-->
                            <div class="icon">
                                <!--<i ssbind="class:devicetemps[Object.keys(devicetemps)[ssIndex]].icon"></i>-->
                                <img ssbind="src:devicetemps[Object.keys(devicetemps)[ssIndex]].icon">
                            </div>
                            <div class="content ia-medium-title text-capitalize"
                                 ssbind="html:devicetemps[Object.keys(devicetemps)[ssIndex]].title + '<center class=\'small col-blue-grey font-10\'>'+(devicetemps[Object.keys(devicetemps)[ssIndex]].vendor||'')+'</center>'">
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="body collapse step step2">
            <!--<div class="input-group input-group-lg">-->
            <span class="ia-big-title col-red">2. Device Name</span>
            <br>
            <span class="col-grey">Set a nickname for your device</span>
            <input type="text" class="form-control devicename"
                   id="devicename" autocomplete="no"
                   size="17"
                   required
                   maxlength="50"
                   minlength="2"
                   pattern1="[0-9A-Fa-f ]*"
                   placeholder="MyDevice1">
        </div>

        <div class="body collapse step step3">
            <div class="input-group input-group-lg">
                <span class="ia-big-title col-red">3. Turn On Device</span>
                <br>
                <span class="col-grey">Please turn on the device</span>
                <br><br>

                <blockquote>
                    <div class="turnon MOTION_DETECTOR collapse">
                        Please shake your hand in front of the device to turn it on. If not, check if it has enough charge. Please note that the switch is on battery mode.
                    </div>
                    <div class="turnon DOOR_SENSOR collapse">
                        If you have a door sensor on a door, just open the door to turn it on. If not, just cut the two parts apart. If not, check the battery charge.
                    </div>
                    <div class="turnon IA_SHORTCUT collapse">
                        Just press the button to turn it on. If the light does not turn on, check its charging.
                    </div>
                    <div class="turnon POWER_PLUG collapse">
                        Just check that it is plugged in.
                    </div>
                    <div class="turnon LIGHT_SWITCH collapse">
                        Just check that it is plugged in.
                    </div>
                </blockquote>
            </div>
        </div>

        <div class="body collapse step step4">
            <span class="ia-big-title col-red">4. Change your WiFi</span>
            <br>
            <span class="col-grey">Please change current phone or laptop WiFi to network of IoT device</span>
            <br><br>
            <div class="body ">
                <img src="images/choosewifi2.jpg" class="img-responsive visible-xs" style="max-height: 70vh">
                <img src="images/wifichoosedesktop.jpg" class="img-responsive hidden-xs" style="max-height: 70vh">
                <h4 class="panel-body bg-purple">Please sure WiFi changed to device network, Then go to next step.</h4>
            </div>
        </div>

        <div class="body collapse step step5">

                <span class="ia-big-title col-red">5. Internet Network</span>
                <br>
                <span class="col-grey">How should your IoT device access the Internet?</span>
                <br><br>

                <div>
                    <label for="wifilist">WiFi Network: <button class="btn btn-link ia-btn-small ia-small-btn" onclick="c1()"><span class="mdi mdi-refresh"></span> Rescan networks</button></label>
                    <select id="wifilist" size="6" class="form-control">
                        <!--<option>Network1</option><option>Network1</option>-->
                    </select>
                    <br>
                    <label for="wifipass">WiFi Password: <button class="btn btn-link ia-btn-small ia-small-btn"><span class="col-grey font-20 mdi mdi-eye-outline" aria-hidden="true" id="wifipasseye" onclick="passeye()"></span></button></label>
                    <input id="wifipass" type="password" class="form-control" placeholder="Password of WiFi" autocomplete="wifi-password">

                    <br>
                    <button class="btn btn-primary-ia ia-big-title" onclick="c2()" id="wifistatus">Connect</button>
                    <br><br>
                    <span id="wifistatustext">Device not detected yet.</span>
                    <input type="hidden" class="btn-link disabled collapse devicecode1 "
                           id="devicecode"
                           size="17"
                           required
                           maxlength="17"
                           minlength="17"
                           pattern="^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$"
                           >
                </div>
        </div>

        <div class="foot text-right">
            <button class="btn btn-link ia-big-title col-red bg-white"
                    onclick="sspageUnlock()"
                    sspage="../customer/views/iadevice.customer.list.view.html" sspage-load-after="localStorage.removeItem('NewDeviceType');localStorage.removeItem('NewMacAddress');">
                Cancel
            </button>
            <button class="btn btn-primary-ia ia-big-title" onclick="preStep()" id="backbtn"> Back  </button>
            <button class="btn btn-primary-ia ia-big-title" onclick="nextStep()" id="nextbtn"> Next </button>
            <button class="btn btn-primary-ia ia-big-title collapse" onclick="addDevice()" id="adddevicebtn"> Finalize </button>
        </div>
    </div>
</div>
<!--
<script>
    $(devicecode).inputmask('##:##:##:##:##:##', { placeholder: '__:__:__:__:__:__' })
</script>-->
