let mailconfig = {};

mailconfig = {
    host: 'mail.yourmailserver.com',
    port: 587,
    auth: {
            user: 'username',
            pass: 'password'
    },
    tls: {rejectUnauthorized: false},
    templates: 'library/front-end/templates/email-templates/'
}

module.exports = {
    mailconfig : mailconfig
}
