// Don't add this file to git

let brokerconfig = {};

brokerconfig = {
        SECURE_KEY : 'configs/webprivate.pem',
        SECURE_CERT : 'configs/webpublic.pem',
        SECURE_KEY20 : 'configs/iabroker.certificate.key',
        SECURE_CERT20 : 'configs/iabroker.certificate.crt',

        // These lines are for token distribution in /controllers/iaactivity.controller.js
        BonusRuntime : "55 05 * * *", // cron, 05:55AM every day, the bkc node admin distributes BKC tokens between his users
        BonusRuntimezone : "America/Vancouver", // cron, time zone
        // Change your finger print
        fingerprint : '2C:93:89:B1:68:7B:81:BE:D3:69:AB:18:41:17:A3:AB:E6:2D:87:41',
             
        whichserver : 'bkcnode',
        debugmongoose : false
};

// change this true if you are going to enable Alex or Google Assitant for your IoT devices.
// Please read /iavoice/README.md to know how to setup the voice setting.
let enableVoice = true;

module.exports = brokerconfig;
